/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.image__avatar {
  background-image: url('../img/desktop/avatar.webp');
  width: 400px;
  height: 400px;
  border-radius: 400px;
}

.nombre__avatar {
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  & .nombre__negrita {
    font-weight: 700;
  }
}

/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */
